
body 
{
	background: #ffb744;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}
#background {
	background: url(./bg-pattern.jpg) repeat-x center top;
	min-height: auto;
	
}
#page {
	width: 920px;
	margin: 0 auto;
}
#logo
{
	background-color:#009999;
	border-radius:10px;
	height:90px;
}

#page1
{
	width:920px;
	margin:0 auto;
	height: 100%;
	background-color:#009999;
}

#sub_page1{
	height:50px;
	width:100%;
	border:1px solid white;
	border-radius:5px;
	background:black;
	
}
#reg h3{
	color:black;
}
#reg a:hover{
	color:red;
}

.course h5{
	float:left;
	text-align:center;
	color:black;
	background:white;
	height:40px;
	width:100px;
	border:3px solid green;
	border-radius:5px;
	margin-left:67px;
	text-decoration:none;	
	font-style:bold;
}

.course h5:hover{
	font-style:bold;
	color:white;
	background:black;
	height:40px;
	width:100px;
	font-size:15px;
	border:3px solid white;
	border-radius:10px;
	margin-left:67px;
	text-decoration:underline;	
	
}
.course h4{
	float:left;
	text-align:center;
	font-style:bold;
	color:white;
	background:black;
	height:40px;
	width:100px;
	font-size:25px;
	border:3px solid white;
	border-radius:10px;
	margin-left:67px;
	margin-top:35px;
	padding:4px;
	text-decoration:underline;	
	
}

.course a{
	text-decoration:none;
}

#child1 a:hover{
	color:red;
	font-size:18px;
}

#child1 p{
	font-family:verdana;
	color:black;
	background:;
	text-align:center;
	font-size:18px;
	text-decoration:underline;
}
#child1 h5{
	padding:10px;
	font-family:verdana;
	color:black;
	text-align:justify;
}
#parent{
	margin:0 auto;
	width:870px;
	height:100%;
	border:2px solid black;
	border-radius:5px;
	background:white;
}
/**---------------------------------------------rectangle out-------------------------------------------------**/
/* Rectangle Out */

/**---------------------------navigation----------------------**/
#navigation {
	background: url(./bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 950px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 1000px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 130px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}

#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(./bg-menu.png);
	background-repeat: repeat-x;
}
/**----------------------------------navigation----------------------**/



#gap
{
	margin-top: 5px;
	clear: both;
}




/**-----------------------------------------footer----------------------**/
#footer {
	color: #456f7f;
	line-height: 20px;
	width: 940px;
	margin: 0 auto;
	
}

#footer ul.contacts {
	float: left;
	font-size: 12px;
	list-style: none;
	width: 300px;
	margin: 0;
	padding: 0 0 10px;
}
#footer ul.contacts h3 {
	font-size: 14px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#footer ul.contacts li span {
	float: left;
	width: 50px;
}
#footer ul.contacts li p {
	margin: 0 0 0 50px;
}
/**-------------------------------------------- Connect-------------------------------------**/
#connect {
	float: right;
	display: inline-block;
	line-height: 26px;
	margin: 12px 0 0;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-left: 10px;
}
#connect a.pinterest {
	background-position: 0 -33px;
}
#connect a.facebook {
	background-position: 0 -98px;
}
#connect a.twitter {
	background-position: 0 -164px;
	width: 28px;
}
#connect a.googleplus {
	background-position: 0 -230px;
}
#connect a.pinterest:hover {
	background-position: 0 0;
}
#connect a.facebook:hover {
	background-position: 0 -65px;
}
#connect a.twitter:hover {
	background-position: 0 -131px;
}
#connect a.googleplus:hover {
	background-position: 0 -197px;
}