
body 
{
	background: #ffb744;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}
#background {
	background: url(./bg-pattern.jpg) repeat-x center top;
	min-height: auto;
	
}
#page {
	width: 920px;
	margin: 0 auto;
}
#logo
{
	background-color:#009999;
	border-radius:10px;
	height:90px;
}
#picpz{
	height:100%;
	width:900px;
	margin:0 auto;
}



#img_1 img{
	width:120px;
	height:120px;
	margin: 5px 5px 35px 5px;
	border: 2px solid white;
}

#img_1 img:hover{
	width:150px;
	height:150px;
	margin: 5px 5px 5px 5px;
	border: 2px solid black;
}

#img_main {
	width:100%;
	height:500px;
	border: 5px solid white;
}
#img_2 img{
	width:120px;
	height:120px;
	margin: 0px 0px 10px 0px;
}
#img_2 img:hover{
	width:150px;
	height:120px;
	
	border: 5px solid #009999;
}

#ved{
	height:100%;
	width:900px;
	margin:0 auto;
}
#ved_1{
	height:100%;
	width:250px;
}
.vedio{
	margin-left: 30px;
}
#ved video:hover{
	width:280px;
	height:250px;
}

/*---------------------------navigation----------------------**/
#navigation {
	background: url(./bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 950px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 1000px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 130px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}

#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(./bg-menu.png);
	background-repeat: repeat-x;
}
/**----------------------------------navigation----------------------**/



#gap
{
	margin-top: 5px;
	clear: both;
}





#footer {
	color: #456f7f;
	line-height: 20px;
	width: 940px;
	margin: 0 auto;
	padding: 20px 10px;
}

#footer ul.contacts {
	float: left;
	font-size: 12px;
	list-style: none;
	width: 300px;
	margin: 0;
	padding: 0 0 10px;
}
#footer ul.contacts h3 {
	font-size: 14px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#footer ul.contacts li span {
	float: left;
	width: 50px;
}
#footer ul.contacts li p {
	margin: 0 0 0 50px;
}